<!DOCTYPE ejs>
<head>
  <title>Snapagram</title>

<%/* CSS */%>

  <meta name="viewport" content="width-device-width, initial scale=1">
  <link rel="stylesheet" types="text.css" href="/css/cssReset.css">
  <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
  <link rel="stylesheet" types="text.css" href="/css/normalize.css">
  <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
  <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="/app-images/favicon-camera2.png">
</head>

<body class = "bodytemp" id="back-image">

<%/* NAVIGATION BAR */%>

  <div class = "template-header">

      <a href ="https://github.com/samirdhebar/Snapagram_Photo_Sharing_App" target="_blank"/a>
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            <div class = "github">Connect with Snapagram</div>

        <a href = "/user/signup">
        <div class= "button" id="signup">Sign Up</div></a>

        <a href ="/user/login">
        <div class="button" id="login">Login</div></a>


  </div>

      <div class = "message">
        Snapagram
      </div>

      <div class = "message1">

<!--
        The photo sharing app you've been waiting for -->
      </div>

      <footer>© Copyright 2017 </footer>



</body>
