<!DOCTYPE ejs>
<link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
<link rel="stylesheet" types="text.css" href="/css/normalize.css">
<link rel="stylesheet" types="text.css" href="/css/skeleton.css">


<!-- <form class = "Form" method = "post" id = "signup-form">
<% if(typeof error !== undefined) { %>
	<div class= "error"><%= error %></div>
<%}%>

	Username
	<input class="signup-username" type="text" name = "username" placeholder="Please Enter A Username"></input><br>

	Password
	<input class="signup-password" type="password" name = "password" placeholder="Please Enter A Password"></input><br>

	Password Confirmation
	<input class="signup-conf-password" type="password" name = "confirmpassword" placeholder="Please Re-Enter the Password"></input><br>

<button class ="submit">Submit</button>
</form> -->

<form class="form-3" method = "post" id = "signup-form">
	<% if(typeof error !== undefined) { %>
		<div class= "error"><%= error %></div>
	<%}%>

<body class="signupForm">
<div id="wrapperForm">
 <div id="contentForm">
			 <div id="layerForm"><br/>
			 <h1>Sign Up for<br/>Snapagram</h1><br/><br/><br/>
			 <input type="text" value="Your E-Mail Address"/><br/><br/>
			 <input type="password" value="Your Password"/><br/>
 <button class="pulse2">Submit</button>
 </div>
 </div>
</div>
</body>
		<!-- <p class="clearfix">
				<label for="login">Username</label>
				<input type="text" name="login" id="login" placeholder="">
		</p>
		<p class="clearfix2">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="" />
		</p> -->
		<!-- <br />
		<p class="clearfix">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" placeholder="">
		</p> -->
		<!-- <p class="clearfix"> <br /><br />
			<label for="password">Reenter Password</label>
			<input type="password" name="confirmpassword" id ="password" placeholder="">
			</p> -->
			<br />
			<br />
			<br />

		<!-- <input type="submit" name="submit" value="Submit"></input> -->
		<button class ="submit">Submit</button>
</form>​


		<!-- Username
		<input class="signup-username" type="text" name = "username" placeholder="Please Enter A Username"></input><br>

		Password
		<input class="signup-password" type="password" name = "password" placeholder="Please Enter A Password"></input><br>

		Password Confirmation
		<input class="signup-conf-password" type="password" name = "confirmpassword" placeholder="Please Re-Enter the Password"></input><br>

	<button class ="submit">Submit</button> -->








<script src = "/assets/signup.js"></script>
